body {
    padding: 40px 10px;
    background-color: #eee;
  }
.listing-reg h1 {
  text-align: center;
  margin: 0 0 2rem;
}
  
/* css for registration form and errors*/
#registration-container {
  text-align: center;
  padding: 3em 0;
}
#registration-container h3 {
  font-size: 1.25em;
  font-weight: bold;
}
.form-registration {
  max-width: 330px;
  padding-top: 40px;
  margin: 0 auto;
}
.form-registration {
  display: flex;
  flex-wrap: wrap;
}
.form-registration input {
  width: 100%;
  margin: 0px 0 10px;
}
.form-registration .btn {
  flex: 1 0 100%;
  background-color: #daaa0e;
  border: none;
  margin-top: 1em;
}
#registration-error-container {
  height: 50px;
}
.my-errors {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  color: #333;
  font-size: 1.2rem;
  display: table;
}
.my-errors li {
  font-size: 0.75em;
}
.my-errors li:before {
  content: "! Error : ";
  color: #f00;
  font-weight: bold;
}